<div
  class="wrapper"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="20px"
>
  <h1>About MyStore</h1>
  <p>
    Allow me to introduce my latest Full Stack project. MyStore is a showcase of
    my skills in FullStack development. built using a modern technology stack.
    It reflects my commitment to creating responsive web solutions that combine
    form and function seamlessly. Below are some of its standout
    characteristics:
  </p>
  <ul>
    <li>
      On the front end, I utilized TypeScript and Angular to create a dynamic
      and responsive user interface.
    </li>
    <li>
      For state management, I employed the power of NgRx to ensure an efficient
      data flow throughout the application.
    </li>
    <li>
      On the back end, I harnessed Node.js and Express to develop a robust and
      performant server.
    </li>
    <li>
      The application's data is stored and managed in a PostgreSQL database,
      ensuring data integrity and reliability.
    </li>
  </ul>

  <p>
    MyStore encapsulates my dedication to creating visually captivating and
    highly functional websites. It's not just a project; it's a testament to my
    commitment to delivering exceptional user experiences.
  </p>

  <p>
    Feel free to explore MyStore and get in touch with me or discover more
    exciting projects e.g. with React/Redux or React Native:
  </p>
  <div>
    <a href="https://www.linkedin.com/in/sabine-fleischmann-463a20236/"
      >(LinkedIn)</a
    >
    <a href="https://github.com/l3x-fx">(GitHub)</a>
  </div>

  <p>I'm looking forward to hear from you!</p>
  <p>(signature)</p>
  <p>Sabine Fleischmann</p>
</div>
