<mat-stepper *ngIf="amount > 0" orientation="vertical" [linear]="true" #stepper>
  <!-- ORDER SUMMARY -->
  <mat-step [stepControl]="itemsFormGroup">
    <form [formGroup]="itemsFormGroup">
      <ng-template matStepLabel>Order Summary</ng-template>
      <app-cart-item
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutAlign.gt-sm="center left"
        class="cartitem"
        *ngFor="let cartitem of cart"
        [cartitem]="cartitem"
        (delete)="removeItem($event)"
        (changeQuantity)="changeQuantity($event)"
      ></app-cart-item>
      <p *ngIf="cart.length === 0">There are no items in your cart.</p>
      <h2 *ngIf="cart.length !== 0" class="cartitem">TOTAL: {{ amount }} $</h2>
      <div>
        <button mat-raised-button color="primary" matStepperNext>
          Continue to Shipping
        </button>
      </div>
    </form>
  </mat-step>
  <!-- ADDRESS -->
  <mat-step [stepControl]="shippingFormGroup">
    <form [formGroup]="shippingFormGroup" class="full-width">
      <ng-template matStepLabel>Shipping</ng-template>

      <mat-form-field class="full-width">
        <mat-label>First Name</mat-label>
        <input matInput type="text" required formControlName="fname" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Last Name</mat-label>
        <input matInput type="text" required formControlName="lname" />
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Adress</mat-label>
        <input matInput type="text" required formControlName="address" />
      </mat-form-field>
      <div>
        <mat-form-field class="onethird-width">
          <mat-label>Postal Code</mat-label>
          <input
            matInput
            #postalCode
            type="text"
            maxlength="5"
            formControlName="postalCode"
          />
        </mat-form-field>
        <mat-form-field class="twothird-width">
          <mat-label>City</mat-label>
          <input
            matInput
            type="text"
            placeholder="San Francisco"
            formControlName="city"
          />
        </mat-form-field>
      </div>

      <mat-form-field class="full-width">
        <mat-label>Country</mat-label>
        <input matInput type="text" required formControlName="country" />
      </mat-form-field>
      <div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button
          matStepperNext
          mat-raised-button
          color="primary"
          [disabled]="!shippingFormGroup.valid"
        >
          Continue to Payment
        </button>
      </div>
    </form>
  </mat-step>
  <!-- PAYMENT -->
  <mat-step [stepControl]="paymentFormGroup">
    <div *ngIf="submitting"><app-loading></app-loading></div>

    <form
      *ngIf="!submitting"
      [formGroup]="paymentFormGroup"
      fxLayout="column"
      fxLayoutAlign="center left"
    >
      <ng-template matStepLabel>Payment</ng-template>
      <div>
        <mat-radio-group formControlName="paymentMethod" fxLayout="column">
          <mat-radio-button value="creditCard">Credit Card </mat-radio-button>
          <mat-radio-button value="paypal">PayPal</mat-radio-button>
        </mat-radio-group>

        <mat-form-field *ngIf="paymentMethod === 'creditCard'">
          <mat-label>Credit Card Number</mat-label>
          <input matInput formControlName="cardNumber" />
        </mat-form-field>

        <p *ngIf="paymentMethod === 'paypal'">
          This payment method is currently not available
        </p>
      </div>
      <div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button
          *ngIf="cart.length !== 0"
          matStepperNext
          mat-raised-button
          color="primary"
          [disabled]="!paymentFormGroup.valid"
          (click)="submitOrder()"
        >
          SUBMIT ORDER
        </button>
      </div>
    </form>
  </mat-step>
  <!-- DONE / ERROR -->
  <mat-step>
    <ng-template matStepLabel
      ><span *ngIf="error">ERROR</span
      ><span *ngIf="!error">Done!</span></ng-template
    >

    <div *ngIf="error && !submitting">
      <app-error></app-error>
    </div>

    <div *ngIf="!error">
      <h1>Your order #{{ orderNumber }} was succesfully sent!</h1>
      <h3>Thank you for using MyStore.</h3>
      <h3>
        Please consider visiting my GitHub for further Front-End and Fullstack
        projects!
      </h3>

      <div>
        <button mat-raised-button color="primary" routerLink="/">
          Continue Shopping
        </button>
      </div>
    </div>
  </mat-step>
</mat-stepper>

<div *ngIf="amount <= 0" fxFlex fxLayout="column" fxLayoutAlign="center center">
  <h2>There are no items in your cart</h2>
  <button mat-raised-button color="primary" routerLink="/">
    Continue Shopping
  </button>
</div>
