<div class="cart-main">

    <h1>{{title}}</h1>
    <div class="cart">
        <div>
            <app-cart-item
            class="cartitem"
            *ngFor="let cartitem of cart" 
            [cartitem]="cartitem"
            (delete)="removeItem($event)"
            (changeQuantity)="changeQuantity($event)"
            />
            <h1 class="cartitem">TOTAL: {{amount}} $</h1>
        </div>

        <app-checkout [amount]="amount"
            class="cartitem"
        />
    </div>

</div>
