<div class="header">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon fontIcon="menu" />
    </button>
  </div>
  <div class="title">MyStore</div>
  <div class="nav" fxLayout fxFlex fxHide.xs fxLayoutGap="10px">
    <a routerLink="/">Products</a> <span>|</span>
    <a routerLink="/cart">Cart</a>
  </div>
  <div
    class="nav"
    fxFlex
    fxLayout="row"
    fxLayoutAlign="end center"
    fxHide.xs
    fxLayoutGap="10px"
    style="margin-right: 40px"
  >
    <a *ngIf="!(currentUser$ | async)" routerLink="/signup">SignUp</a>
    <span *ngIf="!(currentUser$ | async)">|</span>
    <a *ngIf="!(currentUser$ | async)" routerLink="/login">LogIn</a>

    <a *ngIf="currentUser$ | async" routerLink="/account">{{ firstname }}</a>
    <span *ngIf="currentUser$ | async">|</span>
    <a
      *ngIf="currentUser$ | async"
      routerLink="/home"
      fxFlexAlign="end"
      (click)="logout()"
      ><mat-icon fontIcon="logout"
    /></a>
  </div>
</div>
<div class="headerpic">MyStore</div>
