<div *ngIf="isSubmitting"><app-loading></app-loading></div>
<section *ngIf="!isSubmitting" class="signup-form">
  <form
    #f="ngForm"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="20px"
    (ngSubmit)="onSubmit()"
  >
    <h1>LogIn</h1>
    <mat-form-field>
      <mat-label>Email</mat-label>

      <input
        type="email"
        matInput
        placeholder="ex@mple.com"
        [(ngModel)]="email"
        name="email"
        email
        required
        #emailInput="ngModel"
      />
      <mat-error *ngIf="emailInput.hasError('required')"
        >Field must not be empty.</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        type="password"
        matInput
        placeholder="Your Password"
        [(ngModel)]="password"
        name="password"
        required
        #pwInput="ngModel"
      />
      <mat-error *ngIf="pwInput.hasError('required')"
        >Field must not be empty.</mat-error
      >
    </mat-form-field>

    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="f.invalid"
    >
      Submit
    </button>
  </form>
</section>
