.prod {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.prodlist {
    display: flex;
    flex-direction: row;
}
.prodlistitem {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    padding:15px;
    margin:20px;

}
