<form class="checkout-form" #form="ngForm" (ngSubmit)="submitForm()">
    <div>
        <label for="name">Full Name</label>
        <br>
        <input 
            class="checkout-input"
            type="text" 
            name="name" 
            required 
            minlength="3"
            placeholder="full name" 
            [(ngModel)]="name"
        >    
    </div>
    <div>
        <label for="address">Address</label>
        <br>
        <input 
            class="checkout-input"
            type="text" 
            name="address" 
            required 
            minlength="6"
            placeholder="address" 
            [(ngModel)]="address"
        >    
    </div>
    <div>
        <label for="cardnumber">Credit Card Number</label>
        <br>
        <input 
            class="checkout-input"
            type="text"  
            name="cardnumber" 
            required 
            maxlength="16"
            pattern="[0-9]{16}"
            placeholder="credit card number" 
            [(ngModel)]="cardnumber"
        >    
        <p style="font-size:10px; padding-bottom:20px;">We'll never share your payment details with anyone else!</p>
    </div>

    <input type="submit" [disabled]="form.invalid || amount === 0" value="Submit" class="btn">
</form>
