<div fxLayout="row" fxLayoutAlign="center center">
  <a routerLink="/product/{{ cartitem.id }}">
    <img src="{{ cartitem.img_url }}" width="100" />
  </a>
  <div fxLayout="column" fxLayoutAlign="center center" class="item-detail">
    <h2>{{ cartitem.name }}</h2>
    <p>Price per item {{ cartitem.price }} $</p>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
      <mat-form-field>
        <input
          type="number"
          matInput
          inputmode="numeric"
          id="quantity"
          min="1"
          [(ngModel)]="quantity"
          class="quantity-input"
          (change)="onChangeQuantity()"
          onkeydown="return false"
        />
      </mat-form-field>

      <a (click)="onDelete()">
        <h2>🗑</h2>
      </a>
    </div>
  </div>
</div>
