<div class="item-wrap">
  <!-- IMAGE -->
  <div class="item-img" min-width="600px" colspan="2" rowspan="4">
    <a routerLink="/product/{{ cartitem.id }}">
      <img src="{{ cartitem.img_url }}" height="120px" />
    </a>
  </div>
  <!-- ITEM NAME -->
  <div class="item-name">
    <h3>{{ cartitem.name }}</h3>
  </div>
  <!-- QUANTITY -->
  <div class="item-qty">
    <a aria-label="decrease amount by 1" (click)="minusOne()">
      <mat-icon fontIcon="expand_more"></mat-icon>
    </a>
    <span>{{ quantity }}</span>
    <a (click)="plusOne()" aria-label="increase amount by 1">
      <mat-icon fontIcon="expand_less"></mat-icon>
    </a>
  </div>
  <!-- ITEM TOTAL -->
  <div class="item-total">
    <h3>{{ quantity * cartitem.price }} $</h3>
  </div>
  <!-- DELETE -->
  <div class="item-del">
    <mat-icon
      aria-hidden="false"
      aria-label="delete"
      fontIcon="delete_forever"
      (click)="onDelete()"
    ></mat-icon>
  </div>
  <!-- ITEM PRICE  -->
  <div class="item-price">{{ cartitem.price }} $</div>
  <!-- DESCRIPTION -->
  <div class="item-descr">
    <p>{{ cartitem.description }}</p>
  </div>
</div>
