.prod {
  width: 97vw;
}
.prodlist {
  flex-flow: row wrap;
}
.prodlistitem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}
.filter {
  width: 75%;
}
h1 {
  padding-top: 20px;
}
.top {
  font-weight: 600px;
}
