<div class="prod" fxLayout="column" fxLayoutAlign=" center start">
  <h1>Exclusive Offers</h1>
  <div
    class="filter"
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="15px"
  >
    <h3>Filter:</h3>
    <mat-form-field>
      <mat-label>Category</mat-label>
      <mat-select
        [(value)]="category"
        (selectionChange)="onCategoryChange($event)"
      >
        <mat-option value=""> All </mat-option>
        <mat-divider></mat-divider>
        <mat-option class="top" value="Top3"> Top 3 Products </mat-option>
        <mat-divider></mat-divider>
        <mat-option value="Food"> Food </mat-option>
        <mat-option value="Clothing"> Clothing </mat-option>
        <mat-option value="Accessories"> Accessories </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div
    *ngIf="products"
    class="prodlist"
    fxLayout="row"
    layout-wrap
    fxLayoutAlign="center center"
  >
    <app-product-list-item
      flex="1"
      class="prodlistitem"
      *ngFor="let product of products"
      [product]="product"
    ></app-product-list-item>
  </div>
</div>
