mat-card {
  width: 80vw;
}
.noorder {
  border-radius: 5px;
  box-shadow: 0px 1px 1px grey;
  padding: 15px;
  width: 80vw;
}
.detail-descr {
  font-weight: bold;
}
.detail-info {
  margin-bottom: 20px;
}
.full-width {
  width: 100%;
}
@media only screen and (min-width: 600px) {
  mat-card {
    width: 400px;
  }
  .noorder {
    width: 400px;
  }
}
