mat-card {
  width: 80vw;
}

.detail-descr {
  font-weight: bold;
}
.detail-info {
  margin-bottom: 20px;
}
.full-width {
  width: 100%;
}
@media only screen and (min-width: 600px) {
  mat-card {
    width: 400px;
  }
}
