<div class="frame" fxLayout="column" fxLayoutAlign="center center">
  <h1>Welcome to <span class="logo">MyStore</span></h1>

  <p>
    MyStore is a FullStack showcase that highlights core online store features.
  </p>
  <!-- <p>
    The Back-End leverages <b>PostgreSQL</b>, <b>Node.js/Express</b>, and secure
    <b>JWT tokens</b> for authentication. The modern Front-End is crafted with
    <b>Angular</b> and features state management using <b>NgRx</b>. The store is
    hosted on <b>Microsoft Azure Cloud</b>.
  </p> -->
  <p>
    You can explore MyStore, create a user account, select items, and simulate
    the checkout process for a fictional purchase. This immersive experience
    demonstrates the capabilities of my FullStack solution and its real-world
    application potential.
  </p>

  <p>
    <b
      >Connect with me via
      <a href="https://www.linkedin.com/in/sabine-fleischmann-463a20236/"
        >LinkedIn</a
      >
      or <a href="https://github.com/l3x-fx">GitHub</a> for more details about
      this project and to explore how my coding skills can benefit your
      organization.</b
    >
  </p>

  <button mat-raised-button color="primary" (click)="confirmIntro()">
    Got it!
  </button>
</div>
