/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Girassol&family=Raleway&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;

}