<div
  fxLayout.gt-sm="row"
  fxLayout="column"
  fxLayoutAlign="center center"
  *ngIf="product$ | async as product"
>
  <a
    fxLayout="row"
    fxLayoutAlign="center center"
    routerLink="/product/{{ product.id }}"
  >
    <img src="{{ product.img_url }}" />
  </a>
  <div class="item-detail" fxLayout="column" fxLayoutAlign="center center">
    <h1>{{ product.name }}</h1>
    <p>{{ product.description }}</p>
    <p>{{ product.price }} $</p>
    <mat-form-field>
      <input
        matInput
        type="number"
        inputmode="numeric"
        id="quantity"
        min="1"
        value="{{ quantity }}"
        class="quantity-input"
        [(ngModel)]="quantity"
      />
    </mat-form-field>
    <button mat-raised-button (click)="addToCart(product)">Add to Cart</button>
    <button mat-raised-button routerLink="/" style="margin: 20px 0px">
      Back to Product List
    </button>
  </div>
</div>
