<div fxLayout="row" *ngIf="product$ | async as product">
  <a routerLink="/product/{{ product.id }}">
    <img src="{{ product.img_url }}" width="300" />
  </a>
  <div class="item-detail" fxLayout="column" fxLayoutAlign="center start">
    <h1>{{ product.name }}</h1>
    <p>{{ product.description }}</p>
    <p>{{ product.price }} $</p>
    <mat-form-field>
      <input
        matInput
        type="number"
        inputmode="numeric"
        id="quantity"
        min="1"
        value="{{ quantity }}"
        class="quantity-input"
        [(ngModel)]="quantity"
      />
    </mat-form-field>
    <button mat-raised-button (click)="addToCart(product)">Add to Cart</button>
    <button mat-raised-button routerLink="/" style="margin: 20px 0px">
      Back to Product List
    </button>
  </div>
</div>
